@tailwind base;
@tailwind components;
@tailwind utilities;
section{
overflow-x: hidden;

}
.shadow-inset {
color: whitesmoke;
    border-radius: 3.125rem;
border: 2px solid rgba(194, 19, 255, 0.76);
background: #000;
mix-blend-mode: lighten;
box-shadow: 0px 0px 200px 0px #000 inset;
backdrop-filter: blur(192.5px);

  }

 body{
  overflow-x: hidden ;
 }
 .kk{margin: auto;
  width: 100vw;
  height: fit-content;
  display: flex;
  padding-bottom: 20px;
justify-content: space-evenly;
  gap: 10px;
}



.inner{

grid-template-rows: 1fr 1fr;



}


.inner div{
  text-align: center; color: white;
  z-index: 3;
}
circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 450;
  stroke-dashoffset:450;
 
}
.circle1{
   animation: anim 2s linear forwards;
}
.circle2{
   animation: abim 2s linear forwards;
}
.circle3{
   animation: abio 2s linear forwards;
}
.svg{
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes anim {
  100%{
    stroke-dashoffset: -225;
  }
}
@keyframes abim{
  100%{
    stroke-dashoffset:-225;
  }
}
@keyframes abio {
  100%{
    stroke-dashoffset: -225;
  }
}
@media screen and (max-width:768px) {
.kk{
display: grid;

}

circle{
  stroke-linecap: round;
 stroke-width: 10px;
}
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}
.loader .face{
  position: absolute;
  border:2px solid #121212;
}
.loader .face.face1{
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background:090909;

  border-radius: 50%;

  animation: ani1 3s linear infinite;
}
.loader .face.face2{
  top: 30px;
  left:30px;
  right: 30px;
  bottom: 30px;


  border-radius: 50%;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #000;
  animation: ani2 3s linear infinite;

}
.loader .face .circle{
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  width: 50%;
  height: 2px;
  transform-origin: left;
}
.loader .face.face1 .circle{
  transform: rotate(-45deg);
}
.loader .face.face2 .circle{
  transform: rotate(-45deg);
}
.loader .face .circle:before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #555555;
  top: -4px;
  right: -6px;
}
/* .loader .face.face1 .circle:before{
  background:#ffff00;
  box-shadow: 0 0 20px #ff0,0 0 40px #ff0,0 0 60px #ff0,0 0 80px #ff0,
  0 0 100px #ff0,0 0 0 5px rgba(255,255,0,.1);
}
.loader .face.face2 .circle:before{
  background:#03a9f4;
  box-shadow: 0 0 20px #03a9f4,0 0 40px #03a9f4,0 0 60px #03a9f4,0 0 80px #03a9f4,
  0 0 100px #03a9f4,0 0 0 5px rgba(3,169,244,.1);
} */
@keyframes ani1{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
@keyframes ani2{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(-360deg);
  }
}
.custom-rounded {
  border-radius: 379px 379px 0 0;
}