@tailwind base;
@tailwind components;
@tailwind utilities;
section{
overflow-x: hidden;

}


 body{
  overflow-x: hidden ;
 }




.inner{

grid-template-rows: 1fr 1fr;



}


.inner div{
  text-align: center; 
  z-index: 3;
}
circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 450;
  stroke-dashoffset:450;
 
}
.circle1{
   animation: anim 2s linear forwards;
}
.circle2{
   animation: abim 2s linear forwards;
}
.circle3{
   animation: abio 2s linear forwards;
}
.svg{
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes anim {
  100%{
    stroke-dashoffset: -225;
  }
}
@keyframes abim{
  100%{
    stroke-dashoffset:-225;
  }
}
@keyframes abio {
  100%{
    stroke-dashoffset: -225;
  }
}
@media screen and (max-width:768px) {
.kk{
display: grid;

}

circle{
  stroke-linecap: round;
 stroke-width: 10px;
}
}